version: '3.9'

services:
  db:
    container_name: "nest-course"
    image: postgres:15
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=nest-course
    ports:
      - 5437:5432
volumes:
  db_data:
